{%- for message in messages -%}
{%- if message['role'] == 'system' -%}
{{- '<|im_start|>system\n' + message['content'] + '<|im_end|>\n' -}}
{%- elif message['role'] == 'user' -%}
{{- '<|im_start|>user\n' + message['content'] + '<|im_end|>\n' -}}
{%- elif message['role'] == 'assistant' -%}
{{- '<|im_start|>assistant\n' -}}
{% generation %}
{{- message['content'] if message.get('content', none) is not none else '' -}}
{%- if not loop.last -%}
{{- '<|im_end|>\n' -}}
{%- else -%}
{{- eos_token -}}
{%- endif -%}
{% endgeneration %}
{%- endif -%}
{%- if loop.last and add_generation_prompt -%}
{{- '<|im_start|>assistant\n<think>\n' -}}
{%- endif -%}
{%- endfor -%}
